.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Dark-Mode-Background);
  padding: 2rem 5%;
}

form {
  width: 100%;
}

.search-filter,
.region-filter {
  flex: 1;
  display: flex;
}

.region-filter {
  justify-content: flex-end;
}

#search-country,
#regions {
  height: 4rem;
  background-color: var(--Dark-Mode-Elements);
  border: none;
  border-radius: 0.375rem;
  color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
  padding: 0 2rem;
}

.search-filter,
.region-filter,
#search-country,
#regions {
  width: 80%;
}

@media screen and (max-width: 575px) {
  #regions {
    margin-top: 1.5rem;
  }

  .filter {
    justify-content: center;
    flex-direction: column;
  }

  .search-filter,
  .region-filter,
  #search-country,
  #regions {
    width: 100%;
  }
}
