.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--Dark-Mode-Background);
  padding: 2rem 5%;

  .search-filter {
    flex: 1;
    display: flex;
    width: 80%;

    form {
      width: 100%;

      #search-country {
        height: 4rem;
        background-color: var(--Dark-Mode-Elements);
        border: none;
        border-radius: 0.375rem;
        color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
        padding: 0 2rem;
        width: 80%;
      }
    }
  }

  .region-filter {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    width: 80%;

    #regions {
      height: 4rem;
      background-color: var(--Dark-Mode-Elements);
      border: none;
      border-radius: 0.375rem;
      color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
      padding: 0 2rem;
      width: 80%;
    }
  }
}

@media screen and (max-width: 575px) {
  .filter {
    justify-content: center;
    flex-direction: column;

    .search-filter {
      width: 100%;
      form {
        #search-country {
          width: 100%;
        }
      }
    }

    .region-filter {
      width: 100%;

      #regions {
        margin-top: 1.5rem;
        width: 100%;
      }
    }
  }
}
