* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

:root {
  --Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Dark-Mode-Background: hsl(207, 26%, 17%);
  --Light-Mode-Text: hsl(200, 15%, 8%);
  --Light-Mode-Input: hsl(0, 0%, 52%);
  --Light-Mode-Background: hsl(0, 0%, 98%);
  --Dark-Mode-Text-and-Light-Mode-Elements: hsl(0, 0%, 100%);
}

html {
  font-size: 16px;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--Dark-Mode-Text-and-Light-Mode-Elements);
  background-color: var(--Dark-Mode-Background);
}

@media screen and (max-width: 1600px) {
  html {
    font-size: 15px;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 14px;
  }
}

@media screen and (max-width: 991px) {
  html {
    font-size: 13.5px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 575px) {
  html {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  html {
    font-size: 11px;
  }
}
